<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Tailwind css -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- DaisyUI Css  -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.19/dist/full.min.css" rel="stylesheet" type="text/css" />

    <!-- Chart.js  -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- FontAwesome - Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    
    <style>
      /* Custom scrollbar styles */
      .custom-scrollbar {
          max-height: 48px; /* Adjust the max-height as needed */
          overflow-y: auto;
          scrollbar-width: thin;
          scrollbar-color: #4f46e5 #edf2f7; /* Change these colors as needed */
      }

      .custom-scrollbar::-webkit-scrollbar {
          width: 10px;
      }

      .custom-scrollbar::-webkit-scrollbar-thumb {
          background-color: #4f46e5; /* Change this color as needed */
          border-radius: 5px;
      }

      .custom-scrollbar::-webkit-scrollbar-track {
          background-color: #edf2f7; /* Change this color as needed */
      }
    </style>
    
    <title>Interactive Dashboard</title>

</head>
<body class="bg-white">
    <div class="text-center text-4xl font-bold py-10 text-blue-700">Interactive Dashboard
      <span class="loading loading-ball loading-xs"></span>
      <span class="loading loading-ball loading-sm"></span>
      <span class="loading loading-ball loading-md"></span>
      <span class="loading loading-ball loading-lg"></span>
    </div>

    <!-- content  -->
    <div class="grid grid-cols-4 gap-2 mt-4">

      
      <div class="mx-auto bg-white p-8 border rounded-md shadow-md w-5/6 mb-auto">
      <form method="post" action="{% url 'print_selected_topic' %}">
          {% csrf_token %}
            <h1 class="text-blue-600 text-2xl font-bold mb-4 text-center ">Filters</h1>
            
            <h1 class="text-2xl font-bold mb-4 text-gray-500 pt-6">Unique Topics List</h1>
            <div class="max-h-[320px] overflow-x-auto text-gray-500 border rounded-xl p-4 custom-scrollbar">

                <ul class="list-inside list-disc">
                  {% for topic in unique_topics_list %}
                    <li class="mb-2">
                      <input type="checkbox" name="selected_topics" value="{{ topic }}">
                      {{ topic }}
                    </li>
                  {% endfor %}
                </ul>
            </div>
            <button type="submit" class="mt-4 bg-blue-500 text-white p-2 rounded-md">Submit</button>
          </form>
      </div>

      

      <div class="col-span-3 grid grid-cols-3 gap-2">
        
        
        {% for items in selected_data %}
        <!-- cards -->
        <div class="border p-4 rounded-xl border-2 shadow-xl mx-10 mb-8 text-gray-500 ">
          
          <div class="grid grid-cols-3 mb-4">
            <div class="text-2xl col-span-2	ml-4"><b>Topics :</b> {{ items.topic|title }}</div>
            <div class="text-lg text-center"><b>Year :</b> {{ items.end_year }} <i class="fa-solid fa-calendar-days text-gray-600 text-2xl mx-4"></i></div>
          </div>
          
          <div class="grid grid-cols-2 text-center py-2 h-20">
            <div><b>Country :</b>  <i class="fa-solid fa-earth-americas text-blue-600 text-xl"></i>     <br>{{ items.country }}</div>
            <div><b>Region :</b>  <i class="fa-solid fa-location-dot text-red-500 text-xl"></i>         <br>{{ items.region }} </div>
          </div>
          
          <div class="grid grid-cols-3 gap-4 text-center mt-10">
            <div class="p-2 border rounded hover:shadow-xl"><b>Internsity : <br>{{ items.intensity }}</b> 
              <progress class="mt-10 progress progress-primary w-full" value="{{ items.intensity }}" max="100"></progress>
            </div>
            <div class="p-2 border rounded hover:shadow-xl"><b>Likelihood : <br>{{ items.likelihood }}</b> 
              <progress class="mt-10 progress progress-secondary w-full" value="{{ items.likelihood }}" max="100"></progress>
            </div>
            <div class="p-2 border rounded hover:shadow-xl"><b>Relevance</b> 
              <!-- <progress class="progress progress-success w-full" value="83" max="100"></progress> -->
              <div class="radial-progress text-success mt-2" style="--value:{{ items.relevance }}; --thickness: 6px;" role="progressbar">
                {{ items.relevance }}%
              </div>
            </div>
          </div>


        </div>

        {% endfor %}
      </div>
      
    
    </div>



    <!-- <div><canvas id="myChart"></canvas></div> -->

    <script>
        const ctx = document.getElementById('myChart');
      
        new Chart(ctx, {
          type: 'bar',
          data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
              label: '# of Votes',
              data: [12, 19, 3, 5, 2, 3],
              borderWidth: 1
            }]
          },
          options: {
            scales: {       
              y: {
                beginAtZero: true
              }
            }
          }
        });
    </script>
</body>
</html>